body {
  background-image: url(https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Background.max-1300x1300.jpg);
}
#w3review {
  margin-left: 160px;
  margin-top: 350px;
}

li {
  margin-left: 100px;
}

h2 {
  /* margin-left: 300px; */
  font-size: 15rem;
	    text-align: center;
      /* height:90vh; */
      line-height: 38vh;
	    color: #fcedd8;
	    /* background: #d52e3f; */
	   	font-family: 'Niconne', cursive;
	    font-weight: 700;
       text-shadow: 5px 5px 0px #eb452b, 
                  10px 10px 0px #efa032,
                  15px 15px 0px #46b59b,
                  20px 20px 0px #017e7f,
                  25px 25px 0px #052939,
                  30px 30px 0px #c11a2b,
                  35px 35px 0px #c11a2b,
                  40px 40px 0px #c11a2b,
                  45px 45px 0px #c11a2b;
}
